VIGOMA - Asistente de citas - clinicas
{"nodes": [{"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "e3c4e084-5e6d-4779-bf18-fad613f1b117", "leftValue": "={{ $json.wa_id }}", "rightValue": 0, "operator": {"type": "string", "operation": "exists", "singleValue": true}}], "combinator": "or"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [848, 224], "id": "153b4e2c-d345-4749-a1ae-5532553efa48", "name": "User Exists?", "alwaysOutputData": false}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "f0dd8af9-069c-437e-8372-cb5220b412f3", "leftValue": "={{ $json.chatInput }}", "rightValue": "", "operator": {"type": "string", "operation": "exists", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [336, 352], "id": "5b54d559-bbae-4135-b5ba-0cdcf6851202", "name": "Valid message?"}, {"parameters": {"maxItems": 6, "keep": "lastItems"}, "type": "n8n-nodes-base.limit", "typeVersion": 1, "position": [1888, 208], "id": "dfd63e59-eb60-4548-8b8b-7ff8b3fee6de", "name": "Limit"}, {"parameters": {"jsCode": "const historyItems = $('Limit').all();\n\nhistoryItems.sort((a, b) => {\n  const dateA = new Date(a.json.created_at).getTime();\n  const dateB = new Date(b.json.created_at).getTime();\n  if (dateA !== dateB) return dateA - dateB;\n  return (a.json.id ?? 0) - (b.json.id ?? 0);\n});\n\nconst history = historyItems\n  .map(item => `[${item.json.role}]: ${item.json.content}`)\n  .join('\\n');\n\nconst doctores = $('Leer Doctores').all();\nconst horarios = $('Leer Horarios').all();\nconst servicios = $('Leer Servicios').all();\n\nconst diasSemana = {\n  '1': 'Lunes', '2': 'Martes', '3': 'Mi\u00e9rcoles',\n  '4': 'Jueves', '5': 'Viernes', '6': 'S\u00e1bado', '7': 'Domingo'\n};\n\nconst doctoresTexto = doctores.map(d => {\n  const docId = String(d.json.doctor_id);\n  const horariosDoc = horarios\n    .filter(h => String(h.json.doctor_id) === docId)\n    .map(h => {\n  const toAmPm = (t) => {\n    const [hh, mm] = t.split(':').map(Number);\n    const period = hh >= 12 ? 'PM' : 'AM';\n    const h12 = hh % 12 === 0 ? 12 : hh % 12;\n    return `${h12}:${String(mm).padStart(2, '0')} ${period}`;\n  };\n  return `    - ${diasSemana[String(h.json.dow)]}: ${toAmPm(h.json.start_time)} a ${toAmPm(h.json.end_time)}`;\n})\n    .join('\\n');\n  const serviciosDoc = servicios\n    .filter(s => String(s.json.Doctor_ID) === docId)\n    .map(s => `    - ${s.json.nombre}`)\n    .join('\\n');\n  return `\ud83d\udc68\u200d\u2695\ufe0f ${d.json.nombre} \u2014 ${d.json.especialidad}\\n  calendario_id: ${d.json.calendario_id}\\n  Horarios:\\n${horariosDoc}\\n  Servicios:\\n${serviciosDoc}`;\n}).join('\\n\\n');\n\nreturn [{ json: { history, doctoresTexto } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2880, 208], "id": "cabbe891-68eb-43ed-af10-ecd7c921c824", "name": "Code in JavaScript"}, {"parameters": {"operation": "send", "phoneNumberId": "=990298210839054", "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}", "textBody": "={{ $json.messageText }}", "additionalFields": {}}, "type": "n8n-nodes-base.whatsApp", "typeVersion": 1.1, "position": [2144, 672], "id": "01a51c8c-5b5d-4f19-b192-3432234c030d", "name": "Response1", "webhookId": "12a7436e-9790-49c5-8f1e-4f907a0f9208", "credentials": {"whatsAppApi": {"id": "b7rUbRTJpLYyp5U2", "name": "Pruebas"}}}, {"parameters": {"promptType": "define", "text": "={{ $json.history }}", "options": {"systemMessage": "=# Overview\n\nEres un asistente de turnos. Tu funci\u00f3n es ayudar a los usuarios a gestionar sus citas. Responde siempre en espa\u00f1ol neutro de manera amigable y concisa.\n\n**IMPORTANTE:** No transformes el horario a UTC, usa directamente el horario que te pasa el usuario.\n\n**IMPORTANTE:** Toda la conversaci\u00f3n debe centralizarse en el agente. Sigue estas reglas de saludo e intenci\u00f3n.\n\n**IMPORTANTE:** Nunca menciones procesos internos, herramientas, bases de datos, calendarios, ni ning\u00fan detalle t\u00e9cnico al usuario. El usuario solo debe ver respuestas naturales y amigables, como si fuera una recepcionista humana.\n\n**IMPORTANTE \u2014 FORMATO DE HORA:** Todas las horas que muestres al usuario deben estar en formato de 12 horas con AM/PM. Ejemplos: 8:00 AM, 9:00 AM, 1:00 PM, 2:00 PM, 5:00 PM. Nunca uses formato de 24 horas al hablar con el usuario.\n\n---\n\n### Detecci\u00f3n de intenci\u00f3n y saludo\n\n**Regla de saludo:** Solo muestra el mensaje de bienvenida con las opciones UNA SOLA VEZ, cuando sea el primer mensaje del usuario Y no contenga una intenci\u00f3n clara.\n\n**Detecci\u00f3n de intenci\u00f3n:** Si el primer mensaje ya contiene una intenci\u00f3n clara, NO muestres el men\u00fa. Responde directamente a esa intenci\u00f3n sin saludar con el men\u00fa completo.\n\nPalabras clave que indican intenci\u00f3n de AGENDAR:\nagendar, cita, turno, reservar, quiero una cita, necesito cita, me gustar\u00eda, quiero ir, consulta, appointment, quiero agendar, hola quiero\n\nPalabras clave que indican intenci\u00f3n de CONSULTAR:\nmi cita, mi turno, cu\u00e1ndo es, tengo cita, ver mi cita\n\nPalabras clave que indican intenci\u00f3n de CANCELAR/MODIFICAR:\ncancelar, borrar, eliminar, cambiar, mover, reprogramar, modificar\n\n**Nunca repitas el saludo** si ya hubo interacci\u00f3n previa en la conversaci\u00f3n. Si el usuario ya fue saludado, responde solo a lo que pide, sin volver a presentarte.\n\nSi es el primer mensaje del usuario Y no contiene intenci\u00f3n clara, saluda con este formato exacto:\n\n\"\ud83d\udc4b \u00a1Hola! Bienvenido/a a Fisioterapia y Rehabilitaci\u00f3n Valencia.\n\nSoy tu asistente virtual y estoy aqu\u00ed para ayudarte con tu cita \ud83d\ude0a\n\n\u00bfQu\u00e9 necesitas hoy?\n\ud83d\udcc5 Agendar una cita\n\ud83d\udd0d Consultar mi cita\n\u270f\ufe0f Modificar o cancelar\"\n\nDespu\u00e9s del saludo, espera que el usuario responda antes de pedir cualquier dato.\nNo pidas fecha, nombre ni correo en el mensaje de bienvenida.\n\n---\n\n## Reglas de Negocio\n\n- **Horario de atenci\u00f3n:** Depende del doctor seleccionado. Cada doctor tiene sus propios d\u00edas y horarios. Ver secci\u00f3n \"Doctores disponibles\" para los horarios espec\u00edficos de cada uno.\n- **Duraci\u00f3n de turnos:** 1 hora.\n- **Turnos por usuario:** Puede tener m\u00faltiples turnos activos.\n- **Confirmaci\u00f3n previa OBLIGATORIA e INQUEBRANTABLE:** Antes de ejecutar CUALQUIER operaci\u00f3n en Google Calendar o en la base de datos (Create Event, Delete an event, Create Event1, Delete Event), el usuario DEBE haber confirmado expl\u00edcitamente el resumen. Si no hay confirmaci\u00f3n expl\u00edcita en la conversaci\u00f3n, NO ejecutes ninguna tool de escritura. Esto no tiene excepciones.\n- **Validaci\u00f3n obligatoria de fecha y horario por doctor:** Antes de confirmar o crear cualquier turno, tienes que validar que la fecha y hora solicitadas est\u00e9n dentro de los d\u00edas y horarios espec\u00edficos del doctor elegido. NO uses un horario general para validar.\n- **Validaci\u00f3n de fecha pasada:** No puedes agendar ni modificar citas para fechas u horarios anteriores a la `Fecha/hora actual`.\n- **Prioridad de validaci\u00f3n:** Si la fecha propuesta no corresponde a un d\u00eda en que el doctor atiende, o si ya pas\u00f3, primero debes rechazarla por inv\u00e1lida antes de pedir cualquier otro dato.\n- **Datos obligatorios para agendar:** Para crear una cita necesitas:\n  - nombre completo del cliente\n  - correo electr\u00f3nico v\u00e1lido\n  - doctor seleccionado\n  - fecha v\u00e1lida seg\u00fan el horario del doctor\n  - hora v\u00e1lida seg\u00fan el horario del doctor\n  - servicio o motivo de la cita\n- **Correo obligatorio:** El correo se usa para enviarle la invitaci\u00f3n de la cita al cliente.\n- **Validaci\u00f3n de hora de inicio:** La hora de inicio solicitada es v\u00e1lida si es mayor o igual a `hora_inicio` del doctor Y menor o igual a `hora_fin - 1 hora`. Cualquier hora dentro de ese rango es v\u00e1lida, no solo los extremos.\n  Ejemplo: si el doctor atiende de 9:00 AM a 1:00 PM, las horas v\u00e1lidas son 9:00 AM, 10:00 AM, 11:00 AM y 12:00 PM. Las 10:00 AM es completamente v\u00e1lida.\n  NUNCA le digas al usuario que solo puede elegir entre la hora de inicio y la hora de cierre. Todas las horas intermedias son v\u00e1lidas.\n  Nunca rechaces una hora que est\u00e9 dentro de ese rango.\n\n---\n\n## Tools\n\n### Google Calendar\n\n1. **Get Events**\n   - \u00dasalo SOLO para verificar disponibilidad, y SOLO despu\u00e9s de recibir confirmaci\u00f3n expl\u00edcita del usuario.\n   - Debes consultarlo con el rango completo del d\u00eda correspondiente.\n   - Usa siempre el calendario principal de la cl\u00ednica para consultar disponibilidad.\n   - **NUNCA uses Get Events antes de que el usuario haya confirmado expl\u00edcitamente el resumen final.**\n\n2. **Create Event**\n   - \u00dasalo para crear el turno en Google Calendar.\n   - **SOLO se ejecuta despu\u00e9s de:** validar d\u00eda h\u00e1bil del doctor, horario v\u00e1lido, fecha no pasada, disponibilidad confirmada por Get Events, nombre completo, correo v\u00e1lido, motivo Y confirmaci\u00f3n expl\u00edcita del cliente.\n   - **Si cualquiera de estas condiciones no se cumple, NO ejecutes Create Event bajo ninguna circunstancia.**\n   - El evento siempre se crea en el calendario principal de la cl\u00ednica.\n   - Debes agregar DOS attendees:\n     1. El correo del paciente (par\u00e1metro `attendeeEmail`)\n     2. El correo del doctor seleccionado como `doctorEmail` (usa el calendario_id del doctor de la secci\u00f3n \"Doctores disponibles\")\n   - Usa el nombre del cliente, el doctor y el motivo para el resumen del evento.\n   - `date_start` debe ser la hora exacta que pidi\u00f3 el paciente en formato ISO 8601 con offset de Caracas: `YYYY-MM-DDTHH:mm:00-04:00`\n   - `date_end` debe ser `date_start` + 1 hora exacta, mismo formato con offset `-04:00`.\n   - Ejemplo: si el paciente pide el martes 10 de marzo a las 1:30 PM, enviar:\n     date_start = \"2026-03-10T13:30:00-04:00\"\n     date_end   = \"2026-03-10T14:30:00-04:00\"\n   - NUNCA env\u00edes fechas en UTC (sin offset o con Z al final).\n   - SIEMPRE incluye `-04:00` al final de ambas fechas.\n\n3. **Delete an event**\n   - \u00dasalo para borrar/cancelar el evento en Google Calendar.\n   - Solo se usa cuando ya tienes el `google_event_id` real obtenido de **getUser Appointment**.\n   - **Nunca uses un ID de memoria o de la conversaci\u00f3n. Siempre usa el ID que devuelve getUser Appointment.**\n   - El par\u00e1metro que debes pasar se llama exactamente `google_event_id`.\n\n### Base de datos Postgres\n\n4. **Create Event1**\n   - \u00dasalo para guardar el turno en la base de datos **despu\u00e9s** de crear correctamente el evento en Google Calendar.\n   - Recibe estos par\u00e1metros:\n     - `date_start`\n     - `date_end`\n     - `google_event_id`\n   - No intentes enviar otros campos.\n\n5. **Delete Event**\n   - \u00dasalo para cancelar el turno en la base de datos.\n   - Se usa junto con **Delete an event** de Google Calendar.\n   - Recibe: `google_event_id`\n   - **Usa siempre el google_event_id obtenido de getUser Appointment, nunca uno generado de memoria.**\n\n6. **getUser Appointment**\n   - Trae los turnos activos del usuario desde la base de datos.\n   - \u00dasalo cuando el usuario quiera:\n     - consultar su turno\n     - cancelar un turno\n     - modificar/reprogramar un turno\n   - **OBLIGATORIO antes de cualquier cancelaci\u00f3n o modificaci\u00f3n, incluso si el turno fue creado en esta misma conversaci\u00f3n.**\n   - Debes enviar: `user_id`\n\n---\n\n## Escalamiento a recepci\u00f3n humana\n\nEl agente SOLO puede gestionar:\n\u2705 Agendar citas\n\u2705 Consultar citas\n\u2705 Modificar o reprogramar citas\n\u2705 Cancelar citas\n\nSi el usuario pregunta o pide algo FUERA de estas 4 funciones, responde exactamente as\u00ed:\n\n\"Entiendo tu consulta, pero eso est\u00e1 fuera de lo que puedo gestionar por este medio \ud83d\ude0a\n\nPara eso puedes comunicarte directamente con nuestra recepci\u00f3n:\n\ud83d\udcde [TELEFONO_CLINICA]\n\ud83d\udd50 Horario de atenci\u00f3n: Lunes a Viernes de 9:00 AM a 6:00 PM\n\n\u00bfHay algo m\u00e1s en lo que pueda ayudarte con tu cita?\"\n\nNunca inventes informaci\u00f3n sobre precios, m\u00e9dicos, tratamientos ni nada que no sea gesti\u00f3n de citas.\n\n---\n\n---\n\n## Protocolo de Emergencia Dental\n\n### Cu\u00e1ndo activar\nSi el paciente menciona: dolor fuerte, dolor intenso, me duele mucho, emergencia, urgencia, infecci\u00f3n, hinchado, hinchaz\u00f3n, inflamado, sangrado, muela rota, me romp\u00ed, accidente, golpe, ca\u00edda, no puedo dormir, no aguanto.\n\n**NO actives el protocolo** si el usuario solo pide una cita normal con leve molestia.\n\n### Las 4 preguntas (emp\u00e1ticas, una a la vez, espera respuesta antes de hacer la siguiente):\n1. \"\u00bfEn qu\u00e9 parte de la boca sientes el dolor? (molar, enc\u00eda, diente del frente, etc.)\"\n2. \"\u00bfDel 1 al 10, qu\u00e9 tan fuerte es tu dolor en este momento?\"\n3. \"\u00bfTienes hinchaz\u00f3n visible, inflamaci\u00f3n o sangrado? (S\u00ed / No)\"\n4. \"\u00bfPuedes esperar hasta ma\u00f1ana para ser atendido? (S\u00ed / No)\"\n\n### Evaluaci\u00f3n de criterios (internamente, no lo menciones al paciente):\n- \u2705 Criterio A: Nivel de dolor \u2265 8 \u2192 cuenta\n- \u2705 Criterio B: Hay hinchaz\u00f3n O sangrado \u2192 cuenta\n- \u2705 Criterio C: No puede esperar (responde No) \u2192 cuenta\n- \u2705 Criterio D: Menciona infecci\u00f3n, fiebre, cara hinchada o golpe fuerte \u2192 cuenta\n\n### Resultado:\n\n**Si \u2265 2 criterios cumplidos \u2192 EMERGENCIA REAL:**\n1. Llama inmediatamente a `guardar_emergencia` con:\n   - `nombre_paciente`: nombre del paciente (o \"Paciente\" si no lo dio)\n   - `resumen_emergencia`: descripci\u00f3n breve del problema\n   - `nivel_dolor`: n\u00famero indicado por el paciente\n   - `tiene_inflamacion`: true si hay hinchaz\u00f3n o sangrado\n   - `puede_esperar`: true si puede esperar hasta ma\u00f1ana\n2. Luego responde al paciente con empat\u00eda:\n   \"Entiendo que est\u00e1s pasando por un momento muy dif\u00edcil \ud83d\ude14 Ya notifiqu\u00e9 al doctor sobre tu situaci\u00f3n. Pronto se comunicar\u00e1 contigo. Mientras tanto, si tienes un analg\u00e9sico en casa puedes tomarlo, y evita alimentos muy fr\u00edos o calientes cerca de la zona afectada. \u00bfHay algo m\u00e1s en lo que pueda ayudarte?\"\n\n**Si < 2 criterios \u2192 No es emergencia inmediata:**\n- Responde con empat\u00eda y ofrece la cita m\u00e1s pr\u00f3xima disponible:\n  \"Entiendo tu malestar \ud83d\ude0a Aunque no es una emergencia inmediata, vamos a conseguirte la cita m\u00e1s r\u00e1pida posible. \u00bfTe gustar\u00eda agendar para ma\u00f1ana o el siguiente d\u00eda disponible?\"\n\n### Reglas del protocolo:\n- S\u00e9 emp\u00e1tico y natural, como una recepcionista humana preocupada\n- Nunca menciones \"criterios\", \"protocolo\" ni tecnicismos al paciente\n- No pidas datos de cita normal durante el protocolo de emergencia\n- Una vez activado el protocolo, compl\u00e9talo antes de hacer cualquier otra cosa\n- Si la emergencia es evidente de inmediato (golpe fuerte + sangrado visible), puedes notificar al doctor sin esperar las 4 preguntas\n\n## Reglas generales\n\n- Nunca incluyas timestamps, fechas ni marcas de tiempo al inicio de tus mensajes.\n- **Formato de hora obligatorio:** Siempre usa formato 12 horas con AM/PM al comunicarte con el usuario. Ejemplos: 8:00 AM, 10:00 AM, 12:00 PM, 1:00 PM, 5:00 PM. Internamente convierte a formato 24h solo para las tools.\n- **Nunca menciones herramientas, bases de datos, calendarios, procesos internos ni ning\u00fan detalle t\u00e9cnico.**\n- **La validaci\u00f3n de fecha y horario del doctor tiene prioridad absoluta sobre cualquier otra cosa.**\n- **Nunca pidas nombre, correo, motivo, ni uses tools si antes no identificaste el doctor y no validaste que la fecha y hora solicitadas correspondan a sus d\u00edas y horarios de atenci\u00f3n.**\n- **REGLA DE ORO \u2014 CONFIRMACI\u00d3N ANTES DE CUALQUIER ACCI\u00d3N:** Nunca ejecutes Get Events, Create Event, Create Event1, Delete an event ni Delete Event si el usuario no ha confirmado expl\u00edcitamente el resumen en este mismo hilo de conversaci\u00f3n. No hay excepciones a esta regla. Si tienes duda de si el usuario confirm\u00f3, no ejecutes nada y vuelve a mostrar el resumen.\n- **Resoluci\u00f3n obligatoria de a\u00f1o:** Si el usuario indica una fecha sin a\u00f1o, resuelve el a\u00f1o usando `Fecha/hora actual`. Si esa fecha todav\u00eda no pas\u00f3 en el a\u00f1o actual, asume el a\u00f1o actual. Si ya pas\u00f3, asume el a\u00f1o siguiente.\n- **Normalizaci\u00f3n obligatoria de fecha:** Antes de decir si una fecha es v\u00e1lida o no, primero convi\u00e9rtela a una fecha completa.\n- **C\u00e1lculo obligatorio del d\u00eda:** Despu\u00e9s de normalizar la fecha completa, determina qu\u00e9 d\u00eda de la semana corresponde a esa fecha exacta.\n- **Prohibici\u00f3n de inferencia vaga:** Nunca digas que una fecha \"es un d\u00eda v\u00e1lido\" sin antes haber resuelto el a\u00f1o, normalizado la fecha completa, determinado el d\u00eda de la semana Y verificado que el doctor atiende ese d\u00eda.\n- Si la fecha solicitada no corresponde a un d\u00eda en que el doctor atiende: informa al usuario los d\u00edas en que ese doctor s\u00ed atiende y p\u00eddele que elija otra fecha.\n- Si la fecha u hora propuesta ya es anterior a la `Fecha/hora actual`: inf\u00f3rmale que no se pueden agendar citas en fechas u horas pasadas y p\u00eddele una fecha y hora futuras.\n- Si la hora solicitada est\u00e1 fuera del horario del doctor: inf\u00f3rmale el horario v\u00e1lido de ese doctor en formato 12h y p\u00eddele que env\u00ede una hora correcta.\n- Si el usuario quiere agendar y todav\u00eda no dio su nombre completo, p\u00eddelo solo despu\u00e9s de haber validado doctor, fecha y hora.\n- Si el usuario quiere agendar y todav\u00eda no dio su correo, p\u00eddelo explicando que se usar\u00e1 para enviarle la invitaci\u00f3n.\n- Si el correo no parece v\u00e1lido, p\u00eddele que lo vuelva a escribir.\n- Considera un correo v\u00e1lido solo si tiene texto antes de `@`, una `@`, dominio despu\u00e9s de `@` y al menos un punto en el dominio.\n- Si el nombre, el correo o el motivo ya fueron dados claramente en la conversaci\u00f3n actual, no los vuelvas a pedir.\n- No inventes disponibilidad, no inventes IDs y no asumas que un turno fue creado o cancelado si no lo devolvi\u00f3 la tool correspondiente.\n\n---\n\n### Confirmaci\u00f3n previa obligatoria\n\n- Antes de crear una cita nueva o modificar/reprogramar una cita existente, DEBES mostrar un resumen final al usuario y esperar confirmaci\u00f3n expl\u00edcita.\n- El resumen debe tener este formato (usando horas en formato 12h):\n\n  Ok, entonces te confirmo:\n  - Nombre: ...\n  - Correo: ...\n  - Doctor: ...\n  - Servicio: ...\n  - Fecha: ...\n  - Hora: ... (ejemplo: 10:00 AM, 1:00 PM)\n\n- Despu\u00e9s del resumen, pregunta claramente si desea confirmar.\n- Considera como confirmaci\u00f3n expl\u00edcita respuestas como: \"s\u00ed\", \"si\", \"confirmo\", \"correcto\", \"ok\", \"est\u00e1 bien\", \"adelante\", \"dale\".\n- **Hasta que el cliente no confirme expl\u00edcitamente con una de esas palabras, NO uses Get Events, Create Event, Create Event1 ni hagas ninguna modificaci\u00f3n en Calendar o en la base de datos. Absolutamente ninguna.**\n\n---\n\n### Flujo para agendar\n\n1. Pregunta qu\u00e9 servicio necesita el paciente.\n2. Identifica el doctor que atiende ese servicio seg\u00fan la secci\u00f3n \"Doctores disponibles\".\n3. Si el servicio lo atiende m\u00e1s de un doctor, muestra las opciones y pide que elija.\n4. Una vez identificado el doctor, muestra inmediatamente sus horarios disponibles en formato 12h:\n   \"El [nombre del doctor] atiende los siguientes d\u00edas:\n   - [d\u00eda]: [hora_inicio AM/PM] a [hora_fin AM/PM]\n   \u00bfQu\u00e9 d\u00eda y hora te quedar\u00eda mejor? \ud83d\ude0a\"\n5. Detecta la fecha y hora que indica el paciente.\n6. Si la fecha no trae a\u00f1o, resuelve el a\u00f1o usando `Fecha/hora actual`.\n7. Convierte la fecha a una fecha completa y determina el d\u00eda de la semana.\n8. Valida que el doctor atiende ese d\u00eda seg\u00fan sus horarios espec\u00edficos.\n9. Valida que la hora est\u00e9 dentro del horario de atenci\u00f3n del doctor.\n10. Valida que la fecha y la hora no sean anteriores a la `Fecha/hora actual`.\n11. **Si la fecha o la hora son inv\u00e1lidas para ese doctor, frena ah\u00ed e informa los d\u00edas y horarios correctos en formato 12h.**\n12. **Si la fecha y hora son v\u00e1lidas, NO lo menciones expl\u00edcitamente.** Simplemente avanza y pide en un solo mensaje lo que falta: nombre completo y correo electr\u00f3nico.\n13. Cuando ya tengas doctor, fecha v\u00e1lida, hora v\u00e1lida, nombre completo, correo v\u00e1lido y servicio, mu\u00e9strale el resumen final de confirmaci\u00f3n con horas en formato 12h.\n14. Espera la confirmaci\u00f3n expl\u00edcita del cliente. **No hagas nada m\u00e1s hasta recibirla.**\n15. Solo despu\u00e9s de la confirmaci\u00f3n expl\u00edcita, usa **Get Events** para verificar disponibilidad.\n16. Si el slot ya est\u00e1 ocupado seg\u00fan Get Events, informa al usuario y ofr\u00e9cele otros horarios disponibles. **No contin\u00faes con la creaci\u00f3n.**\n17. Si hay disponibilidad, usa **Create Event** en el calendario de la cl\u00ednica con los dos attendees: paciente y doctor.\n18. Toma el ID retornado por Google Calendar y \u00fasalo como `google_event_id`.\n19. Luego usa **Create Event1** para guardar el turno en la base de datos.\n20. Solo despu\u00e9s de que ambas operaciones salgan bien, conf\u00edrmale al usuario:\n    \"\u2705 \u00a1Tu cita ha sido agendada! Te llegar\u00e1 un correo de confirmaci\u00f3n con la invitaci\u00f3n al calendario para que puedas agregarla como recordatorio. \ud83d\ude0a\"\n    Luego muestra el resumen final con horas en formato 12h.\n\n- Si falla **Create Event** o falla **Create Event1**, no digas que el turno fue agendado.\n\n---\n\n### Flujo para cancelar\n\n1. Usa **getUser Appointment** para obtener los turnos activos del usuario.\n2. Si hay m\u00e1s de un turno y no queda claro cu\u00e1l cancelar, pregunta cu\u00e1l quiere cancelar. Muestra las fechas y horas en formato 12h.\n3. Toma el `google_event_id` devuelto por **getUser Appointment** \u2014 nunca uses un ID de memoria.\n4. Usa **Delete an event** con ese `google_event_id` para cancelarlo en Google Calendar.\n5. Luego usa **Delete Event** con ese mismo `google_event_id` para cancelarlo en la base de datos.\n6. Solo despu\u00e9s de que ambas operaciones salgan bien, confirma la cancelaci\u00f3n.\n\n---\n\n### Flujo para modificar o reprogramar\n\n**CR\u00cdTICO: Aunque el usuario acabe de agendar en esta misma conversaci\u00f3n, SIEMPRE debes usar getUser Appointment para obtener el google_event_id real. Nunca uses un ID de memoria o de la conversaci\u00f3n.**\n\n1. Usa **getUser Appointment** para obtener el turno actual y su `google_event_id` real.\n2. Si hay m\u00e1s de un turno activo, pregunta cu\u00e1l quiere modificar. Muestra horas en formato 12h.\n3. Detecta la nueva fecha y hora solicitadas por el usuario.\n4. Si la nueva fecha no trae a\u00f1o, resuelve el a\u00f1o usando `Fecha/hora actual`.\n5. Convierte la nueva fecha a una fecha completa y determina el d\u00eda de la semana.\n6. Valida que el doctor del turno atiende ese nuevo d\u00eda seg\u00fan sus horarios espec\u00edficos.\n7. Valida que la nueva hora est\u00e9 dentro del horario de atenci\u00f3n del doctor.\n8. Valida que la nueva fecha y hora no sean anteriores a la `Fecha/hora actual`.\n9. Verifica que ya tienes nombre completo, correo v\u00e1lido y motivo. Si falta alguno, pide solo lo que falta.\n10. Mu\u00e9strale al usuario el resumen final de confirmaci\u00f3n con los datos actualizados, con horas en formato 12h.\n11. Espera la confirmaci\u00f3n expl\u00edcita del cliente. **No ejecutes ninguna tool hasta recibirla.**\n12. Solo despu\u00e9s de la confirmaci\u00f3n expl\u00edcita:\n    a. Usa **Delete an event** en Google Calendar\n    b. Usa **Delete Event** en base de datos\n    c. **VERIFICA que ambas operaciones devolvieron \u00e9xito antes de continuar.**\n    d. Si alguna falla, NO contin\u00faes con la creaci\u00f3n. Informa al usuario.\n13. Despu\u00e9s sigue el flujo normal de creaci\u00f3n:\n    - **Get Events** \u2014 verifica disponibilidad en el nuevo slot\n    - Si el nuevo slot est\u00e1 ocupado, informa al usuario y p\u00eddele otro horario. No crees el evento.\n    - **Create Event** (con formato de fecha con offset `-04:00`)\n    - **Create Event1**\n14. Solo despu\u00e9s de que las tres operaciones salgan bien, confirma al usuario que la cita fue reprogramada. Muestra horas en formato 12h.\n\n---\n\n## Formato de Respuesta\n\n- **Fechas amigables con formato 12h:** \"Jueves 23 de enero a las 11:00 AM\", \"Viernes 13 a la 1:00 PM\".\n- Siempre confirma la acci\u00f3n realizada solo despu\u00e9s de que haya salido bien.\n- Si falta informaci\u00f3n para avanzar, p\u00eddela de forma breve y directa.\n- Si hay error o no encuentras datos, explica claramente qu\u00e9 pas\u00f3 sin mencionar herramientas ni procesos internos.\n- No es necesario enviarle el link al evento.\n\n### Flujo conversacional por intenci\u00f3n\n\n**Si el usuario indica que quiere AGENDAR:**\nPrimero pregunta qu\u00e9 servicio necesita para identificar el doctor.\nUna vez identificado el doctor, muestra sus horarios disponibles inmediatamente en formato 12h.\nSolo despu\u00e9s de que el paciente elija fecha y hora v\u00e1lidas, pide en un solo mensaje nombre completo y correo electr\u00f3nico.\nNo hagas preguntas separadas para cada dato. Si el usuario ya dio alg\u00fan dato, pide solo lo que falta.\n\n**Si el usuario indica que quiere CONSULTAR:**\nUsa getUser Appointment inmediatamente.\nNo pidas datos adicionales antes de consultar.\nMuestra la cita en formato: \"Tu pr\u00f3xima cita es el [d\u00eda] [fecha] a las [hora en formato 12h] con [doctor].\"\n\n**Si el usuario indica que quiere MODIFICAR o CANCELAR:**\nUsa getUser Appointment inmediatamente para identificar la cita.\nMuestra los detalles de la cita encontrada con horas en formato 12h y pregunta qu\u00e9 quiere hacer.\n\n---\n\nID del usuario: {{ $('Select rows from a table').first()?.json?.id ?? $('Create User').first()?.json?.id }}\nFecha actual: {{ $now.setZone('America/Caracas').toFormat('yyyy-LL-dd') }}\nHora actual: {{ $now.setZone('America/Caracas').toFormat('h:mm a') }}\nD\u00eda de la semana actual: {{ $now.setZone('America/Caracas').setLocale('es').toFormat('cccc') }}\nN\u00famero de d\u00eda de la semana actual: {{ $now.setZone('America/Caracas').toFormat('c') }}\nFecha y hora actual completa: {{ $now.setZone('America/Caracas').setLocale('es').toFormat(\"cccc dd/LL/yyyy h:mm a\") }}\nZona horaria de la cl\u00ednica: America/Caracas (UTC-04:00). Todas las fechas de eventos deben enviarse con offset -04:00.\n\n## Doctores disponibles en esta cl\u00ednica\n\n{{ $('Code in JavaScript').item.json.doctoresTexto }}\n\nREGLAS PARA DOCTORES:\n- Siempre pregunta qu\u00e9 servicio necesita el paciente ANTES de pedir fecha y hora\n- Identifica el doctor seg\u00fan el servicio solicitado usando la lista de arriba\n- Valida fecha y hora \u00daNICAMENTE contra los d\u00edas y horarios del doctor identificado\n- Al mostrar horarios al usuario, SIEMPRE usa formato 12h con AM/PM\n- Verifica disponibilidad en el calendario de la cl\u00ednica\n- Usa el calendario_id del doctor SOLO como doctorEmail en los attendees del evento\n- El resumen de confirmaci\u00f3n debe incluir el nombre del doctor y el servicio\n- Si el paciente pide un d\u00eda que el doctor no atiende, inf\u00f3rmale qu\u00e9 d\u00edas s\u00ed atiende ese doctor mostrando horas en formato 12h\n- Nunca menciones el calendario_id ni ning\u00fan dato t\u00e9cnico al usuario\n\nEsta es la tabla de appointments en la base de datos:\ncreate table public.appointments (\n  id serial not null,\n  user_id character varying(20) null,\n  date_start timestamp with time zone not null,\n  description text null,\n  google_event_id text null,\n  status character varying(20) null default 'active'::character varying,\n  date_end timestamp with time zone null,\n  constraint appointments_pkey primary key (id),\n  constraint appointments_google_event_id_key unique (google_event_id),\n  constraint appointments_user_id_fkey foreign KEY (user_id) references users (id),\n  constraint appointments_status_check check (\n    (\n      (status)::text = any (\n        (\n          array[\n            'active'::character varying,\n            'inactive'::character varying,\n            'cancelled'::character varying\n          ]\n        )::text[]\n      )\n    )\n  )\n) TABLESPACE pg_default;\n\n---\n\n## MARCADORES DE BOTONES INTERACTIVOS\n\nCuando llegues a ciertos puntos en la conversaci\u00f3n, a\u00f1ade el marcador correspondiente AL FINAL de tu mensaje, en la \u00faltima l\u00ednea, sin texto despu\u00e9s. Esto mostrar\u00e1 botones interactivos.\n\n**REGLA ESTRICTA:** Solo un marcador por respuesta.\n\n### [MENU_INICIO]\n\u00dasalo cuando:\n- El usuario env\u00eda su primer mensaje sin intenci\u00f3n clara (saludo inicial)\n- El usuario escribe \"men\u00fa\", \"inicio\", \"volver\", \"\ud83c\udfe0 Men\u00fa principal\" o equivalentes\n- Despu\u00e9s de resolver completamente una solicitud\n\nEjemplo:\n\"\ud83d\udc4b \u00a1Hola! Bienvenido/a.\nSoy tu asistente y estoy aqu\u00ed para ayudarte \ud83d\ude0a\n\u00bfQu\u00e9 necesitas hoy?\n[MENU_INICIO]\"\n\n### [CONFIRMAR_CITA]\n\u00dasalo EXACTAMENTE cuando muestres el resumen final ANTES de crear/modificar una cita:\n\"Ok, entonces te confirmo:\n- Nombre: ...\n- Doctor: ...\n- Servicio: ...\n- Fecha: ...\n- Hora: ...\n[CONFIRMAR_CITA]\"\n\nNunca lo uses en otro momento.\n\n### [CITA_AGENDADA]\n\u00dasalo SOLO en el mensaje de confirmaci\u00f3n exitosa despu\u00e9s de que Create Event funcione.\n\nEjemplo:\n\"\u2705 \u00a1Tu cita ha sido agendada! Te llegar\u00e1 un correo \ud83d\ude0a\n\nResumen:\n- Fecha: Martes 25 de marzo\n- Hora: 10:00 AM\n- Doctor: Dr. Rodr\u00edguez\n[CITA_AGENDADA]\"\n\n### Cu\u00e1ndo NO usar marcadores:\n- En preguntas intermedias\n- Al pedir datos faltantes\n- En respuestas de error\n- En protocolo de emergencia\n- Al consultar o cancelar citas\n"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.7, "position": [1712, 672], "id": "d1f9391a-3890-485f-83da-8e0606dfa5aa", "name": "Main Agent"}, {"parameters": {"calendar": {"__rl": true, "value": "giovannystartup@gmail.com", "mode": "list", "cachedResultName": "giovannystartup@gmail.com"}, "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `debe ser exactamente la hora que pidi\u00f3 el paciente`, 'string') }}", "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', \"debe ser siempre `Start` + 1 hora exacta\", 'string') }}", "additionalFields": {"attendees": ["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `Correo del cliente`, 'string') }}", "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees1_Attendees', `Correo del doctor`, 'string') }}"], "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}", "guestsCanModify": false, "summary": "=Turno con - {{ $fromAI('Summary', ``, 'string') }}"}}, "type": "n8n-nodes-base.googleCalendarTool", "typeVersion": 1.3, "position": [1680, 976], "id": "1b55fea0-67c1-41d9-b214-7ae47f2f9f56", "name": "Create Event", "credentials": {"googleCalendarOAuth2Api": {"id": "piltMc5m4g8sQVlb", "name": "giovannystartup@gmail.com"}}}, {"parameters": {"operation": "getAll", "calendar": {"__rl": true, "value": "giovannystartup@gmail.com", "mode": "list", "cachedResultName": "giovannystartup@gmail.com"}, "returnAll": true, "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `12:01 AM of the day the user requested`, 'string') }}", "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `11:59 PM of the day the user requested`, 'string') }}", "options": {"fields": ""}}, "type": "n8n-nodes-base.googleCalendarTool", "typeVersion": 1.3, "position": [1568, 976], "id": "2203390e-87aa-4c61-a3d8-812f6ebf28cc", "name": "Get Events", "credentials": {"googleCalendarOAuth2Api": {"id": "piltMc5m4g8sQVlb", "name": "giovannystartup@gmail.com"}}}, {"parameters": {"operation": "delete", "calendar": {"__rl": true, "value": "giovannystartup@gmail.com", "mode": "list", "cachedResultName": "giovannystartup@gmail.com"}, "eventId": "={{ $fromAI('google_event_id', '', 'string') }}", "options": {}}, "type": "n8n-nodes-base.googleCalendarTool", "typeVersion": 1.3, "position": [1808, 976], "id": "9e8013e0-e668-4567-a104-f20bad5b44db", "name": "Delete an event", "credentials": {"googleCalendarOAuth2Api": {"id": "piltMc5m4g8sQVlb", "name": "giovannystartup@gmail.com"}}}, {"parameters": {"rule": {"interval": [{"field": "hours"}]}}, "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [192, 704], "id": "68b48635-ed27-4311-93ff-83ac03397e3a", "name": "Schedule Trigger"}, {"parameters": {"operation": "getAll", "tableId": "appointments", "matchType": "allFilters", "filters": {"conditions": [{"keyName": "date_start", "condition": "gt", "keyValue": "=  {{ $json.timestamp }}"}, {"keyName": "date_start", "condition": "lt", "keyValue": "=  {{ DateTime.fromISO($json.timestamp).plus({ hours: 24 }).toISO() }}  "}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [496, 704], "id": "06050003-4a71-4803-bee0-46e1f148095e", "name": "Get many rows", "credentials": {}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "87d31721-f226-44a1-9ce3-e8353ddea458", "leftValue": "={{ $json['24hs_notif'] }}", "rightValue": true, "operator": {"type": "boolean", "operation": "notEquals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.filter", "typeVersion": 2.3, "position": [656, 704], "id": "9d51317b-52ff-4274-96d3-4288b07648fb", "name": "Filter"}, {"parameters": {"operation": "send", "phoneNumberId": "=355180894356385", "recipientPhoneNumber": "={{ $('Get many rows').item.json.user_id }}", "textBody": "=Hola! Te escribo para recordarte que tenes un turno con nosotros.\n\nTu turno es el d\u00eda: {{ $json.date }}\nHorario: {{ $json.time }}      \n\nTe esperamos!", "additionalFields": {}}, "type": "n8n-nodes-base.whatsApp", "typeVersion": 1.1, "position": [672, 960], "id": "cd957e28-34bd-4dfc-8d60-c029ae277704", "name": "Response", "webhookId": "12a7436e-9790-49c5-8f1e-4f907a0f9208", "credentials": {"whatsAppApi": {"id": "b7rUbRTJpLYyp5U2", "name": "Pruebas"}}}, {"parameters": {"operation": "update", "tableId": "appointments", "matchType": "allFilters", "filters": {"conditions": [{"keyName": "id", "condition": "eq", "keyValue": "={{ $('Get many rows').item.json.id }}"}]}, "fieldsUi": {"fieldValues": [{"fieldId": "24hs_notif", "fieldValue": "true"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [864, 960], "id": "a893424b-9c38-4fd4-a20a-4edd47e7c1b6", "name": "Update a row", "credentials": {}}, {"parameters": {"jsCode": "const start = DateTime.fromISO($input.first().json.date_start).setLocale('es');      const end = DateTime.fromISO($input.first().json.date_end);            \n\n  return [{                                                              \n    json: {                                                              \n      date: `${start.day} de ${start.toFormat('MMMM')}`,                 \n      time: `${start.toFormat('HH:mm')} - ${end.toFormat('HH:mm')}`      \n    }                                                                    \n  }];  "}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [864, 704], "id": "536c60eb-c35d-4056-b5ec-8e40a627501a", "name": "Code in JavaScript1"}, {"parameters": {"content": "# Mensaje Entrante", "height": 528, "width": 576, "color": 4}, "type": "n8n-nodes-base.stickyNote", "position": [16, 96], "typeVersion": 1, "id": "d58031ac-baa1-4e2a-9174-e9ff569532e0", "name": "Sticky Note"}, {"parameters": {"content": "# Nuevos Usuarios", "height": 528, "width": 704}, "type": "n8n-nodes-base.stickyNote", "position": [608, 96], "typeVersion": 1, "id": "a20557c7-230d-48a3-a454-0088e9810bc7", "name": "Sticky Note1"}, {"parameters": {"content": "# Historial de conversacion", "height": 384, "width": 1732, "color": 6}, "type": "n8n-nodes-base.stickyNote", "position": [1328, 96], "typeVersion": 1, "id": "12d74aa8-9d32-47c6-9068-49bcd77e7c33", "name": "Sticky Note2"}, {"parameters": {"content": "# Agente IA Principal", "height": 656, "width": 1280, "color": 5}, "type": "n8n-nodes-base.stickyNote", "position": [1328, 496], "typeVersion": 1, "id": "a3f5b607-e5a0-49a3-b7f9-735a934cfb99", "name": "Sticky Note3"}, {"parameters": {"content": "# Recordatorios", "height": 512, "width": 1296, "color": 2}, "type": "n8n-nodes-base.stickyNote", "position": [16, 640], "typeVersion": 1, "id": "a874df51-b3cd-4bc2-bcf1-ec069f24b523", "name": "Sticky Note4"}, {"parameters": {"phoneNumberId": "355180894356385", "recipientPhoneNumber": "={{ $('Get many rows').item.json.user_id }}", "template": "recordatorio|es", "components": {"component": [{"bodyParameters": {"parameter": [{"text": "={{ $json.date }}"}, {"text": "={{ $json.time }}"}]}}, {"type": "button", "buttonParameters": {"parameter": {"payload": "Confirmar"}}}]}}, "type": "n8n-nodes-base.whatsApp", "typeVersion": 1.1, "position": [192, 960], "id": "d229f908-9257-4f9d-9a49-fec64acc739a", "name": "Send template", "webhookId": "a5e07fda-882d-4b98-996c-41e60dff6b42", "credentials": {"whatsAppApi": {"id": "b7rUbRTJpLYyp5U2", "name": "Pruebas"}}}, {"parameters": {"operation": "update", "tableId": "appointments", "matchType": "allFilters", "filters": {"conditions": [{"keyName": "id", "condition": "eq", "keyValue": "={{ $('Get many rows').item.json.id }}"}]}, "fieldsUi": {"fieldValues": [{"fieldId": "24hs_notif", "fieldValue": "true"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [400, 960], "id": "ece92547-286c-4626-a61a-02af3fd4dacb", "name": "Update a row1", "credentials": {}}, {"parameters": {"operation": "select", "schema": {"__rl": true, "value": "public", "mode": "list", "cachedResultName": "public"}, "table": {"__rl": true, "value": "users", "mode": "list", "cachedResultName": "users"}, "where": {"values": [{"column": "wa_id", "value": "={{$('WhatsApp Trigger').item.json.contacts[0].wa_id}}"}]}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [672, 224], "id": "e2e9c462-07aa-40a2-ad58-beed856ed910", "name": "Select rows from a table", "alwaysOutputData": true, "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "users", "mode": "list", "cachedResultName": "users"}, "columns": {"mappingMode": "defineBelow", "value": {"wa_id": "={{$('WhatsApp Trigger').item.json.contacts[0].wa_id}}", "display_name": "={{$('WhatsApp Trigger').item.json.contacts[0].profile.name}}", "id": "={{ Math.random().toString(36).substring(2) + Date.now().toString(36) }}"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "display_name", "displayName": "display_name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "created_at", "displayName": "created_at", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": true}, {"id": "wa_id", "displayName": "wa_id", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [784, 480], "id": "2e2bf17f-82b8-404d-9eb6-f8d4110b7276", "name": "Create User", "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "history", "mode": "list", "cachedResultName": "history"}, "columns": {"mappingMode": "defineBelow", "value": {"user_id": "={{ $('Select rows from a table').first()?.json?.id ?? $('Create User').first()?.json?.id }}", "role": "user", "content": "={{ $('Edit Fields1').item.json.chatInput }}"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true}, {"id": "user_id", "displayName": "user_id", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "role", "displayName": "role", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "content", "displayName": "content", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "created_at", "displayName": "created_at", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1200, 208], "id": "5ec0fe79-3a20-4885-acd4-c41609530b39", "name": "Add History", "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {"operation": "executeQuery", "query": "select id, role, content, created_at\nfrom (\n  select id, role, content, created_at\n  from public.history\n  where user_id = '{{$json.user_id}}'\n    and created_at >= now() - interval '24 hours'\n  order by created_at desc, id desc\n  limit 12\n) t\norder by created_at asc, id asc;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1456, 208], "id": "9841e318-7d96-4ee8-b4bf-2d7e10447ee4", "name": "Execute a SQL query", "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {"model": "openai/gpt-4o-mini", "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [1376, 880], "id": "5f51e956-0e70-41dc-ba0b-7ee283014b9a", "name": "OpenRouter Chat Model1", "credentials": {"openRouterApi": {"id": "FhOGkUcnX0zoAh6t", "name": "OpenRouter account"}}}, {"parameters": {"operation": "executeQuery", "query": "update public.appointments\nset status = 'cancelled'\nwhere user_id = '{{ $('Select rows from a table').first()?.json?.id ?? $('Create User').first()?.json?.id }}'\n  and google_event_id = '{{$fromAI(\"google_event_id\", \"ID del evento (google_event_id) a cancelar\", \"string\")}}'\n  and status = 'active'\nreturning id, user_id, google_event_id, status, date_start, date_end;", "options": {}}, "type": "n8n-nodes-base.postgresTool", "typeVersion": 2.6, "position": [2128, 976], "id": "112298f2-3d23-4a07-908d-821a42f63226", "name": "Delete Event", "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {"operation": "executeQuery", "query": "insert into public.appointments\n  (user_id, description, status, date_start, date_end, google_event_id)\nvalues\n  (\n    '{{ $('Select rows from a table').first()?.json?.id ?? $('Create User').first()?.json?.id }}',\n    'Nuevo Turno',\n    'active',\n    '{{$fromAI(\"date_start\",\"Fecha/hora inicio (ISO string con zona)\", \"string\")}}',\n    '{{$fromAI(\"date_end\",\"Fecha/hora fin (ISO string con zona)\", \"string\")}}',\n    '{{$fromAI(\"google_event_id\",\"ID devuelto por Google Calendar (event.id)\", \"string\")}}'\n  )\nreturning id, user_id, google_event_id, status, date_start, date_end;", "options": {}}, "type": "n8n-nodes-base.postgresTool", "typeVersion": 2.6, "position": [2256, 976], "id": "8c285b41-3b42-40dc-8a7b-7329b2d3ea65", "name": "Create Event1", "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {"operation": "executeQuery", "query": "select\n  a.id,\n  a.user_id,\n  a.date_start AT TIME ZONE 'America/Caracas' as date_start,\n  a.date_end AT TIME ZONE 'America/Caracas' as date_end,\n  a.description,\n  a.google_event_id,\n  a.status\nfrom public.appointments a\nwhere a.user_id = '{{$fromAI(\"user_id\", \"ID interno del usuario actual\", \"string\")}}'\n  and a.status = 'active'\norder by a.date_start asc\nlimit 1;", "options": {}}, "type": "n8n-nodes-base.postgresTool", "typeVersion": 2.6, "position": [2368, 976], "id": "16221168-329e-4906-88df-f46e29f8750c", "name": "getUser Appointment", "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "history", "mode": "list", "cachedResultName": "history"}, "columns": {"mappingMode": "defineBelow", "value": {"user_id": "={{ $('Select rows from a table').first()?.json?.id ?? $('Create User').first()?.json?.id }}", "role": "assistant", "content": "={{ $('Preparar Respuesta').item.json.messageText }}"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true}, {"id": "user_id", "displayName": "user_id", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "role", "displayName": "role", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "content", "displayName": "content", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "created_at", "displayName": "created_at", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [2384, 672], "id": "795d3de2-77f8-4fb2-b6f0-2b6385918777", "name": "Add History1", "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {"sortFieldsUi": {"sortField": [{"fieldName": "id"}]}, "options": {}}, "type": "n8n-nodes-base.sort", "typeVersion": 1, "position": [1712, 208], "id": "f300932c-9c2c-45b1-98c8-f1365e27ccc0", "name": "Sort"}, {"parameters": {"operation": "executeQuery", "query": "DELETE FROM public.history;\nDELETE FROM public.appointments;\nDELETE FROM public.users;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [3680, 976], "id": "400131f8-746c-4757-92e5-3a86bd08e38c", "name": "borrar histori", "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1040, 480], "id": "5099d200-d403-4fa0-8be4-1da5bf8f0b29", "name": "No Operation, do nothing"}, {"parameters": {"documentId": {"__rl": true, "value": "1IklkEXBkjFKwXRygh-Zr1kqcG9toMrx6umGKShjMHv0", "mode": "id"}, "sheetName": {"__rl": true, "value": 8967801, "mode": "list", "cachedResultName": "DOCTORS", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IklkEXBkjFKwXRygh-Zr1kqcG9toMrx6umGKShjMHv0/edit#gid=8967801"}, "options": {}}, "id": "fabb09a7-6f23-4dc8-a85b-eac6c3cb5ebe", "name": "Leer Doctores", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [2304, 208], "credentials": {"googleSheetsOAuth2Api": {"id": "l5yTT99aSstRvR5v", "name": "giovannystartup@gmailc.om"}}, "notes": "Lee todos los doctores activos. Conectar despu\u00e9s de Add History y antes de Leer Horarios"}, {"parameters": {"documentId": {"__rl": true, "value": "1IklkEXBkjFKwXRygh-Zr1kqcG9toMrx6umGKShjMHv0", "mode": "id"}, "sheetName": {"__rl": true, "value": 963369131, "mode": "list", "cachedResultName": "HORARIOS", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IklkEXBkjFKwXRygh-Zr1kqcG9toMrx6umGKShjMHv0/edit#gid=963369131"}, "options": {}}, "id": "a694eded-66d5-494d-9a1d-c3a236cf2008", "name": "Leer Horarios", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [2512, 208], "credentials": {"googleSheetsOAuth2Api": {"id": "l5yTT99aSstRvR5v", "name": "giovannystartup@gmailc.om"}}, "notes": "Lee todos los horarios activos de todos los doctores"}, {"parameters": {"documentId": {"__rl": true, "value": "1IklkEXBkjFKwXRygh-Zr1kqcG9toMrx6umGKShjMHv0", "mode": "id"}, "sheetName": {"__rl": true, "value": 1075639416, "mode": "list", "cachedResultName": "SERVICIOS", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IklkEXBkjFKwXRygh-Zr1kqcG9toMrx6umGKShjMHv0/edit#gid=1075639416"}, "options": {}}, "id": "adb25e61-4c87-43c1-b866-8fa824f534de", "name": "Leer Servicios", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [2704, 208], "credentials": {"googleSheetsOAuth2Api": {"id": "l5yTT99aSstRvR5v", "name": "giovannystartup@gmailc.om"}}, "notes": "Lee todos los servicios activos con su doctor asignado"}, {"parameters": {"assignments": {"assignments": [{"id": "87de2096-662a-4f79-9276-c3ae1d6f679f", "name": "sessionId", "value": "={{ $json.messages[0].from }}", "type": "string"}, {"id": "13d5937c-f3d1-43ac-9c61-59e7464b8e99", "name": "message", "value": "={{ $json.messages[0] }}", "type": "object"}, {"id": "8aa0f587-d252-453b-b46f-456da11da70b", "name": "type", "value": "={{ $json.messages[0].type }}", "type": "string"}, {"id": "0be46d16-b0f4-4105-8a56-03aa02b70b02", "name": "date", "value": "={{ new Date($json.messages[0].timestamp * 1000).toISOString().replace('Z', '-04:00') }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-720, -432], "id": "6ed0c17d-4612-4c25-a224-3b4d8031a697", "name": "Edit Fields"}, {"parameters": {"operation": "push", "list": "=clinicas:{{ $('Edit Fields').item.json.sessionId }}", "messageData": "={{ JSON.stringify($('Edit Fields').item.json.message) }}", "tail": true}, "type": "n8n-nodes-base.redis", "typeVersion": 1, "position": [-512, -432], "id": "d8a55c83-a701-4211-a142-45fffeb5a980", "name": "Redis", "credentials": {"redis": {"id": "V9d8A0nWJJexO44L", "name": "Redis account"}}}, {"parameters": {"operation": "get", "propertyName": "mensajito", "key": "=clinicas:{{ $('Edit Fields').item.json.sessionId }}", "options": {}}, "type": "n8n-nodes-base.redis", "typeVersion": 1, "position": [-304, -432], "id": "2f4923cb-00c8-46a4-8104-5f145b94e8b7", "name": "Redis1", "credentials": {"redis": {"id": "V9d8A0nWJJexO44L", "name": "Redis account"}}}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"leftValue": "={{ JSON.parse($json.mensajito[$json.mensajito.length - 1]).from }}", "rightValue": "={{ $('Edit Fields').item.json.sessionId }}", "operator": {"type": "string", "operation": "notEquals"}, "id": "453771a1-6c13-4df3-b6b3-09be69f7e646"}], "combinator": "and"}, "renameOutput": true, "outputKey": "No pasa nada"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "ef09ad12-728f-4f9e-99d0-a75cd082cd55", "leftValue": "={{ new Date(JSON.parse($json.mensajito[$json.mensajito.length - 1]).timestamp * 1000) }}", "rightValue": "={{ $now.minus(15, 'seconds') }}", "operator": {"type": "dateTime", "operation": "before"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "PASAR"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "03f3cee3-3f33-4694-9bc7-c9dc0e4b9ecb", "leftValue": "={{ JSON.parse($json.mensajito[0]).from }}", "rightValue": "", "operator": {"type": "string", "operation": "notExists", "singleValue": true}}], "combinator": "and"}, "renameOutput": true, "outputKey": "NO EXISTE"}]}, "options": {"fallbackOutput": "extra", "renameFallbackOutput": "POLICIA"}}, "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [-48, -464], "id": "cf35443e-ee14-4c48-95a2-6bcd1da4bcbc", "name": "Switch"}, {"parameters": {"amount": 15}, "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [-176, -176], "id": "1c16cbe4-fd79-423b-a78a-f80d25158574", "name": "Wait", "webhookId": "d435257d-4303-42a4-9e34-53348a8ffc8b"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [208, -224], "id": "7f72a3f7-ce98-463a-bb34-719a124c7fc6", "name": "No Operation, do nothing1"}, {"parameters": {"operation": "delete", "key": "=clinicas:{{ $('Edit Fields').item.json.sessionId }}"}, "type": "n8n-nodes-base.redis", "typeVersion": 1, "position": [240, -448], "id": "9733b23d-e454-4e83-83d2-f21bcc154627", "name": "Redis2", "credentials": {"redis": {"id": "V9d8A0nWJJexO44L", "name": "Redis account"}}}, {"parameters": {"fieldToSplitOut": "mensajito", "options": {}}, "type": "n8n-nodes-base.splitOut", "typeVersion": 1, "position": [432, -448], "id": "bf542077-21ea-4330-85d2-73cb81aebcc2", "name": "Split Out"}, {"parameters": {"mode": "raw", "jsonOutput": "={{ JSON.parse($json.mensajito) }}", "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [640, -448], "id": "b9f26978-659a-41c0-9bc6-b68fcb661c24", "name": "Parserrr"}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"leftValue": "={{ $('Parserrr').item.json.type }}", "rightValue": "image", "operator": {"type": "string", "operation": "equals"}, "id": "5b5f46f1-8580-441a-8160-105bc79cb6d0"}], "combinator": "and"}, "renameOutput": true, "outputKey": "FOTO"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "0d1c1f27-e739-49b1-934b-f4feca4cf725", "leftValue": "={{ $('Parserrr').item.json.type }}", "rightValue": "audio", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "VOZ"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "34cf7c62-c76b-49e4-bc68-9bc418ee50d2", "leftValue": "={{ $('Parserrr').item.json.type }}", "rightValue": "text", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "TEXTO"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "interactive-rule-001", "leftValue": "={{ $('Parserrr').item.json.type }}", "rightValue": "interactive", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "INTERACTIVO"}]}, "options": {}}, "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [896, -464], "id": "f3b25600-2acf-46d3-8155-d190dffef238", "name": "Switch1"}, {"parameters": {"assignments": {"assignments": [{"id": "texto-wa-01", "name": "mensajito", "value": "={{ $('Parserrr').item.json.text?.body ?? '' }}", "type": "string"}, {"id": "texto-wa-02", "name": "date", "value": "={{ new Date($('Parserrr').item.json.timestamp * 1000).toISOString() }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1648, -176], "id": "73621b29-d502-4568-803a-88b6e5e35b41", "name": "Texto limpio"}, {"parameters": {"assignments": {"assignments": [{"id": "foto-wa-01", "name": "mensajito", "value": "=[Imagen recibida]{{ $('Parserrr').item.json.image?.caption ? ': ' + $('Parserrr').item.json.image.caption : '' }}", "type": "string"}, {"id": "foto-wa-02", "name": "date", "value": "={{ new Date($('Parserrr').item.json.timestamp * 1000).toISOString() }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1632, -784], "id": "4c0477ee-17f0-4e08-8b05-c07c8b3aff1f", "name": "Foto limpia"}, {"parameters": {"assignments": {"assignments": [{"id": "voz-wa-01", "name": "audio_id", "value": "={{ $('Parserrr').item.json.audio?.id }}", "type": "string"}, {"id": "voz-wa-02", "name": "date", "value": "={{ new Date($('Parserrr').item.json.timestamp * 1000).toISOString() }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1232, -448], "id": "8044f9ac-9887-4868-b67c-15fc309d9587", "name": "Voz - extraer ID"}, {"parameters": {"url": "=https://graph.facebook.com/v19.0/{{ $json.audio_id }}", "authentication": "predefinedCredentialType", "nodeCredentialType": "whatsAppTriggerApi", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1440, -448], "id": "a9f903a3-8c2c-48b2-bd33-7d36e8080745", "name": "Obtener URL audio", "credentials": {"whatsAppTriggerApi": {"id": "zl94YsVTxAaQcwGF", "name": "WhatsApp"}}}, {"parameters": {"url": "={{ $json.url }}", "authentication": "predefinedCredentialType", "nodeCredentialType": "whatsAppTriggerApi", "options": {"response": {"response": {"responseFormat": "file"}}}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1648, -448], "id": "c4a2a167-be13-42bd-bd6e-227ab1c5af36", "name": "Descargar audio", "credentials": {"whatsAppTriggerApi": {"id": "zl94YsVTxAaQcwGF", "name": "WhatsApp"}}}, {"parameters": {"resource": "audio", "operation": "transcribe", "options": {"language": "es"}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [1888, -448], "id": "7b836ca1-407f-4024-a488-399be64fbf36", "name": "Whisper transcribir", "credentials": {"openAiApi": {"id": "KJre86Jy4ZWZbubb", "name": "Prueba"}}, "disabled": true}, {"parameters": {"assignments": {"assignments": [{"id": "voz-wa-final", "name": "mensajito", "value": "={{ $json.text }}", "type": "string"}, {"id": "voz-wa-date", "name": "date", "value": "={{ $('Voz - extraer ID').item.json.date }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [2176, -448], "id": "c678f87c-3d4f-42c4-bf1a-d9cbdd0cf900", "name": "Voz transcrita"}, {"parameters": {"numberInputs": 4}, "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [2608, -464], "id": "aa375896-1e5a-4603-99c1-11df14612492", "name": "Merge"}, {"parameters": {"fieldsToAggregate": {"fieldToAggregate": [{"fieldToAggregate": "mensajito"}]}, "options": {}}, "type": "n8n-nodes-base.aggregate", "typeVersion": 1, "position": [2896, -128], "id": "90124b31-1778-4b85-83f7-23bc9258b68e", "name": "Aggregate"}, {"parameters": {"assignments": {"assignments": [{"id": "a4cf2db5-8ab2-4e71-bdc2-06ba99192959", "name": "chatInput", "value": "={{ $json.mensajito.join(' ') }}", "type": "string"}, {"id": "session-final", "name": "sessionId", "value": "={{ $('Edit Fields').item.json.sessionId }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [112, 352], "id": "60f00cf3-0913-4f12-82d7-e94956687d68", "name": "Edit Fields1"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [176, -752], "id": "25a2cfdb-e0fc-4c32-ac80-f31a419c8136", "name": "No Operation, do nothing2"}, {"parameters": {"sortFieldsUi": {"sortField": [{"fieldName": "date"}]}, "options": {}}, "type": "n8n-nodes-base.sort", "typeVersion": 1, "position": [2752, -128], "id": "dc4843a4-5765-40ca-a447-3c8418b477f0", "name": "Sort1"}, {"parameters": {"updates": ["messages"], "options": {}}, "type": "n8n-nodes-base.whatsAppTrigger", "typeVersion": 1, "position": [-912, -432], "id": "beb16e54-06fc-43f5-bfb2-b236cb979d98", "name": "WhatsApp Trigger", "webhookId": "0884d774-130f-47a4-a5ae-ac92b25d4f78", "credentials": {"whatsAppTriggerApi": {"id": "zl94YsVTxAaQcwGF", "name": "WhatsApp"}}}, {"parameters": {"fieldsToAggregate": {"fieldToAggregate": [{"fieldToAggregate": "content"}]}, "options": {}}, "type": "n8n-nodes-base.aggregate", "typeVersion": 1, "position": [2096, 208], "id": "caeb13f6-6eb0-4681-91e2-92cfa66259d7", "name": "Aggregate1"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1008, -176], "id": "2bfaf582-17ef-4513-a4b7-7bae487a15a8", "name": "No Operation, do nothing3"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [2384, -176], "id": "b3f1216f-f730-4436-a199-c4671931e2ec", "name": "No Operation, do nothing4"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1008, -784], "id": "8026605a-4f69-4f50-9cf6-6b5416b47a5a", "name": "No Operation, do nothing5"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [2368, -784], "id": "a0f5ba5d-c123-4ef0-ac91-6c33d0de10c9", "name": "No Operation, do nothing6"}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO public.emergencies (\n  user_id, wa_id, nombre_paciente, resumen, nivel_dolor,\n  tiene_inflamacion, puede_esperar, status\n) VALUES (\n  '{{ $(\"Select rows from a table\").first()?.json?.id ?? $(\"Create User\").first()?.json?.id }}',\n  '{{ $(\"WhatsApp Trigger\").item.json.contacts[0].wa_id }}',\n  '{{$fromAI(\"nombre_paciente\",\"Nombre del paciente o Paciente si no lo dio\",\"string\")}}',\n  '{{$fromAI(\"resumen_emergencia\",\"Descripci\u00f3n breve del problema dental urgente\",\"string\")}}',\n  '{{$fromAI(\"nivel_dolor\",\"Nivel de dolor del 1 al 10\",\"string\")}}',\n  {{$fromAI(\"tiene_inflamacion\",\"true si hay hinchaz\u00f3n o sangrado false si no\",\"boolean\")}},\n  {{$fromAI(\"puede_esperar\",\"true si puede esperar hasta ma\u00f1ana false si no\",\"boolean\")}},\n  'pending'\n)\nRETURNING id, user_id, wa_id, nombre_paciente, resumen, nivel_dolor, tiene_inflamacion, puede_esperar, status;", "options": {}}, "type": "n8n-nodes-base.postgresTool", "typeVersion": 2.6, "position": [2480, 976], "id": "a7b3c8d9-e012-4f56-8901-bc234de56f01", "name": "Guardar Emergencia", "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT id, wa_id, nombre_paciente, resumen, nivel_dolor, tiene_inflamacion, puede_esperar\nFROM public.emergencies\nWHERE user_id = '{{ $(\"Select rows from a table\").first()?.json?.id ?? $(\"Create User\").first()?.json?.id }}'\n  AND status = 'pending'\nORDER BY id DESC\nLIMIT 1;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [2144, 1264], "id": "b8c4d9e0-f123-5067-9012-cd345ef67890", "name": "Leer Emergencia Pendiente", "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 3}, "conditions": [{"id": "em001-check-id", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "exists", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [2368, 1264], "id": "c9d5e0f1-0234-6178-0123-de456fg78901", "name": "\u00bfHay Emergencia?"}, {"parameters": {"operation": "send", "phoneNumberId": "=990298210839054", "recipientPhoneNumber": "=NUMERO_DOCTOR_CON_CODIGO_PAIS", "textBody": "=\ud83d\udea8 *EMERGENCIA DENTAL*\n\n\ud83d\udc64 Paciente: {{ $json.nombre_paciente }}\n\ud83e\uddb7 Problema: {{ $json.resumen }}\n\ud83d\ude23 Dolor: {{ $json.nivel_dolor }}/10\n\ud83d\udd34 Hinchaz\u00f3n/sangrado: {{ $json.tiene_inflamacion ? 'S\u00ed' : 'No' }}\n\u23f3 Puede esperar: {{ $json.puede_esperar ? 'S\u00ed' : 'No' }}\n\ud83d\udcf1 WhatsApp paciente: +{{ $json.wa_id }}\n\n\u26a0\ufe0f El paciente fue informado que lo contactar\u00e1s pronto.", "additionalFields": {}}, "type": "n8n-nodes-base.whatsApp", "typeVersion": 1.1, "position": [2592, 1264], "id": "d0e6f1a2-1345-7289-1234-ef567gh89012", "name": "Notificar Doctor", "webhookId": "12a7436e-9790-49c5-8f1e-4f907a0f9208", "credentials": {"whatsAppApi": {"id": "b7rUbRTJpLYyp5U2", "name": "Pruebas"}}}, {"parameters": {"operation": "executeQuery", "query": "UPDATE public.emergencies\nSET status = 'sent'\nWHERE id = {{ $(\"Leer Emergencia Pendiente\").first().json.id }};", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [2816, 1264], "id": "e1f7a2b3-2456-8390-2345-fa678hi90123", "name": "Marcar Emergencia Enviada", "credentials": {"postgres": {"id": "50I6R45tvJnmQGuz", "name": "CLINICAS"}}}, {"parameters": {"assignments": {"assignments": [{"name": "mensajito", "value": "={{ $('Parserrr').item.json.interactive?.button_reply?.title ?? $('Parserrr').item.json.interactive?.list_reply?.title ?? '[bot\u00f3n]' }}", "type": "string"}, {"name": "date", "value": "={{ new Date($('Parserrr').item.json.timestamp * 1000).toISOString() }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1648, 1464], "id": "a8c79e83-5e73-4a91-b87c-8d3000fd6071", "name": "Bot\u00f3n limpio"}, {"parameters": {"jsCode": "const rawOutput = $json.output ?? '';\n\nconst BUTTON_CONFIGS = {\n  '[MENU_INICIO]': {\n    buttons: [\n      { id: 'book_appointment', title: '\ud83d\udcc5 Agendar cita' },\n      { id: 'my_appointments', title: '\ud83d\udccb Mis citas' },\n      { id: 'emergency', title: '\ud83d\ude91 Emergencia' }\n    ]\n  },\n  '[CONFIRMAR_CITA]': {\n    buttons: [\n      { id: 'confirm_yes', title: '\u2705 Confirmar cita' },\n      { id: 'confirm_no', title: '\u274c Cancelar' },\n      { id: 'confirm_change', title: '\ud83d\udd04 Cambiar hora' }\n    ]\n  },\n  '[CITA_AGENDADA]': {\n    buttons: [\n      { id: 'view_appointments', title: '\ud83d\udccb Ver mis citas' },\n      { id: 'main_menu', title: '\ud83c\udfe0 Men\u00fa principal' }\n    ]\n  }\n};\n\nlet detectedMarker = null;\nlet config = null;\nfor (const marker of Object.keys(BUTTON_CONFIGS)) {\n  if (rawOutput.includes(marker)) {\n    detectedMarker = marker;\n    config = BUTTON_CONFIGS[marker];\n    break;\n  }\n}\n\nlet cleanText = rawOutput;\nfor (const marker of Object.keys(BUTTON_CONFIGS)) {\n  cleanText = cleanText.replace(marker, '').trim();\n}\n\nif (detectedMarker && config) {\n  return [{ json: {\n    messageText: cleanText,\n    showButtons: true,\n    buttons: config.buttons\n  }}];\n} else {\n  return [{ json: {\n    messageText: cleanText,\n    showButtons: false,\n    buttons: []\n  }}];\n}"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2400, 672], "id": "58001853-e6f9-4874-aafa-19524014a645", "name": "Preparar Respuesta"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "con-botones-check", "leftValue": "={{ $json.showButtons }}", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [2608, 672], "id": "18a4342c-bb22-488f-9571-684a68ad4379", "name": "\u00bfCon Botones?"}, {"parameters": {"operation": "send", "phoneNumberId": "990298210839054", "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}", "messageType": "interactive", "interactiveType": "button", "body": "={{ $json.messageText }}", "buttons": "={{ $json.buttons }}", "additionalFields": {}}, "type": "n8n-nodes-base.whatsApp", "typeVersion": 1.1, "credentials": {"whatsAppApi": {"id": "b7rUbRTJpLYyp5U2", "name": "Pruebas"}}, "position": [2816, 400], "id": "ce7ed8d3-706a-435c-b586-c4ae178f0577", "name": "Response Con Botones", "notes": "Env\u00eda mensajes con botones interactivos"}], "connections": {"User Exists?": {"main": [[{"node": "Add History", "type": "main", "index": 0}], [{"node": "Create User", "type": "main", "index": 0}]]}, "Valid message?": {"main": [[{"node": "Select rows from a table", "type": "main", "index": 0}]]}, "Limit": {"main": [[{"node": "Aggregate1", "type": "main", "index": 0}]]}, "Code in JavaScript": {"main": [[{"node": "Main Agent", "type": "main", "index": 0}]]}, "Response1": {"main": [[{"node": "Add History1", "type": "main", "index": 0}]]}, "Main Agent": {"main": [[{"node": "Preparar Respuesta", "type": "main", "index": 0}, {"node": "Leer Emergencia Pendiente", "type": "main", "index": 0}]]}, "Create Event": {"ai_tool": [[{"node": "Main Agent", "type": "ai_tool", "index": 0}]]}, "Get Events": {"ai_tool": [[{"node": "Main Agent", "type": "ai_tool", "index": 0}]]}, "Delete an event": {"ai_tool": [[{"node": "Main Agent", "type": "ai_tool", "index": 0}]]}, "Schedule Trigger": {"main": [[{"node": "Get many rows", "type": "main", "index": 0}]]}, "Get many rows": {"main": [[{"node": "Filter", "type": "main", "index": 0}]]}, "Filter": {"main": [[{"node": "Code in JavaScript1", "type": "main", "index": 0}]]}, "Response": {"main": [[{"node": "Update a row", "type": "main", "index": 0}]]}, "Code in JavaScript1": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}, "Send template": {"main": [[{"node": "Update a row1", "type": "main", "index": 0}]]}, "Select rows from a table": {"main": [[{"node": "User Exists?", "type": "main", "index": 0}]]}, "Create User": {"main": [[{"node": "No Operation, do nothing", "type": "main", "index": 0}]]}, "Add History": {"main": [[{"node": "Execute a SQL query", "type": "main", "index": 0}]]}, "Execute a SQL query": {"main": [[{"node": "Sort", "type": "main", "index": 0}]]}, "OpenRouter Chat Model1": {"ai_languageModel": [[{"node": "Main Agent", "type": "ai_languageModel", "index": 0}]]}, "Delete Event": {"ai_tool": [[{"node": "Main Agent", "type": "ai_tool", "index": 0}]]}, "Create Event1": {"ai_tool": [[{"node": "Main Agent", "type": "ai_tool", "index": 0}]]}, "getUser Appointment": {"ai_tool": [[{"node": "Main Agent", "type": "ai_tool", "index": 0}]]}, "Sort": {"main": [[{"node": "Limit", "type": "main", "index": 0}]]}, "No Operation, do nothing": {"main": [[{"node": "Add History", "type": "main", "index": 0}]]}, "Leer Doctores": {"main": [[{"node": "Leer Horarios", "type": "main", "index": 0}]]}, "Leer Horarios": {"main": [[{"node": "Leer Servicios", "type": "main", "index": 0}]]}, "Leer Servicios": {"main": [[{"node": "Code in JavaScript", "type": "main", "index": 0}]]}, "Edit Fields": {"main": [[{"node": "Redis", "type": "main", "index": 0}]]}, "Redis": {"main": [[{"node": "Redis1", "type": "main", "index": 0}]]}, "Redis1": {"main": [[{"node": "Switch", "type": "main", "index": 0}]]}, "Switch": {"main": [[{"node": "No Operation, do nothing2", "type": "main", "index": 0}], [{"node": "Redis2", "type": "main", "index": 0}], [{"node": "No Operation, do nothing1", "type": "main", "index": 0}], [{"node": "Wait", "type": "main", "index": 0}]]}, "Wait": {"main": [[{"node": "Redis1", "type": "main", "index": 0}]]}, "Redis2": {"main": [[{"node": "Split Out", "type": "main", "index": 0}]]}, "Split Out": {"main": [[{"node": "Parserrr", "type": "main", "index": 0}]]}, "Parserrr": {"main": [[{"node": "Switch1", "type": "main", "index": 0}]]}, "Switch1": {"main": [[{"node": "No Operation, do nothing5", "type": "main", "index": 0}], [{"node": "Voz - extraer ID", "type": "main", "index": 0}], [{"node": "No Operation, do nothing3", "type": "main", "index": 0}], [{"node": "Bot\u00f3n limpio", "type": "main", "index": 0}]]}, "Texto limpio": {"main": [[{"node": "No Operation, do nothing4", "type": "main", "index": 0}]]}, "Foto limpia": {"main": [[{"node": "No Operation, do nothing6", "type": "main", "index": 0}]]}, "Voz - extraer ID": {"main": [[{"node": "Obtener URL audio", "type": "main", "index": 0}]]}, "Obtener URL audio": {"main": [[{"node": "Descargar audio", "type": "main", "index": 0}]]}, "Descargar audio": {"main": [[{"node": "Whisper transcribir", "type": "main", "index": 0}]]}, "Whisper transcribir": {"main": [[{"node": "Voz transcrita", "type": "main", "index": 0}]]}, "Voz transcrita": {"main": [[{"node": "Merge", "type": "main", "index": 1}]]}, "Merge": {"main": [[{"node": "Sort1", "type": "main", "index": 0}]]}, "Aggregate": {"main": [[{"node": "Edit Fields1", "type": "main", "index": 0}]]}, "Edit Fields1": {"main": [[{"node": "Valid message?", "type": "main", "index": 0}]]}, "Sort1": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]}, "WhatsApp Trigger": {"main": [[{"node": "Edit Fields", "type": "main", "index": 0}]]}, "Aggregate1": {"main": [[{"node": "Leer Doctores", "type": "main", "index": 0}]]}, "No Operation, do nothing3": {"main": [[{"node": "Texto limpio", "type": "main", "index": 0}]]}, "No Operation, do nothing4": {"main": [[{"node": "Merge", "type": "main", "index": 2}]]}, "No Operation, do nothing5": {"main": [[{"node": "Foto limpia", "type": "main", "index": 0}]]}, "No Operation, do nothing6": {"main": [[{"node": "Merge", "type": "main", "index": 0}]]}, "Guardar Emergencia": {"ai_tool": [[{"node": "Main Agent", "type": "ai_tool", "index": 0}]]}, "Leer Emergencia Pendiente": {"main": [[{"node": "\u00bfHay Emergencia?", "type": "main", "index": 0}]]}, "\u00bfHay Emergencia?": {"main": [[{"node": "Notificar Doctor", "type": "main", "index": 0}], []]}, "Notificar Doctor": {"main": [[{"node": "Marcar Emergencia Enviada", "type": "main", "index": 0}]]}, "Bot\u00f3n limpio": {"main": [[{"node": "Merge", "type": "main", "index": 3}]]}, "Preparar Respuesta": {"main": [[{"node": "\u00bfCon Botones?", "type": "main", "index": 0}]]}, "\u00bfCon Botones?": {"main": [[{"node": "Response Con Botones", "type": "main", "index": 0}], [{"node": "Response1", "type": "main", "index": 0}]]}, "Response Con Botones": {"main": [[{"node": "Add History1", "type": "main", "index": 0}]]}}, "pinData": {}, "meta": {"templateCredsSetupCompleted": true, "instanceId": "ec8d7b23062bd286cbea350da7f93b98322d7c605b24c8fea5812d2ef1bd3acc"}}